<!DOCTYPE html>
<html lang="es">

<head>
    <!--
    =========================================================
    SISTEMA        : Referidos RRVV
    ARCHIVO        : index.html
    DESCRIPCIÓN    : Interfaz principal del sistema de gestión
                      de referidos. Basado en AngularJS + Bootstrap.
    FRAMEWORK      : AngularJS 1.x
    AUTOR          : Equipo Desarrollo
    VERSIÓN        : REFRV-16-56
    FECHA          : 25-05-2023
    =========================================================
    -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TÍTULO DEL NAVEGADOR -->
    <title>Sistema Referidos RRVV</title>

    <!-- ===================== CSS ===================== -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <link href="css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="css/highcharts.css" rel="stylesheet">
    <link rel="stylesheet" href="angular/angular-material.min.css">

    <!-- ===================== JS BASE ===================== -->
    <script src="js/keycloak2.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>

    <!-- ===================== ANGULAR ===================== -->
    <script src="angular/angular.js"></script>
    <script src="angular/angular-animate.min.js"></script>
    <script src="angular/angular-aria.min.js"></script>
    <script src="angular/angular-messages.min.js"></script>
    <script src="angular/angular-material.min.js"></script>
</head>

<!-- ===================== APP ANGULAR ===================== -->
<body ng-app="todo" id="mainController" ng-controller="TodoController as vm">
<div id="wrapper" style="background-color: #cc0001">

    <!-- ===================== SIDEBAR ===================== -->
    <nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed;">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">

                <!-- LOGO -->
                <li class="nav-header" style="height: 126px">
                    <div class="dropdown profile-element" style="margin-left: -10px">
                        <img style="margin-top: 10px;height: 42px;" src="img/consorcio.png" alt="">
                    </div>
                    <div class="logo-element">
                        <img style="height: 68px; margin-top: 8px" src="img/consorc.png" alt="">
                    </div>
                </li>

                <!-- MENÚ -->
                <li ng-show="(vm.rollUsuario=='usr' && vm.dobleRoll==false) || vm.rollUsuario=='adm' || vm.rollUsuario=='ast'"
                    style="margin-top: 25px">
                    <a ng-click="vm.limpiarFiltroPrimero()">
                        <i class="fa fa-address-card-o"></i>
                        <span class="nav-label">Referidos</span>
                    </a>
                </li>

                <li ng-show="vm.dobleRoll==true">
                    <a ng-click="vm.actuareComoSupervisor()">
                        <i class="fa fa-user"></i>
                        <span class="nav-label">Referidos (Sup)</span>
                    </a>
                </li>

                <li ng-show="vm.dobleRoll==true">
                    <a ng-click="vm.actuareComoEjecutivo()">
                        <i class="fa fa-address-card-o"></i>
                        <span class="nav-label">Referidos (Eje)</span>
                    </a>
                </li>

                <li ng-show="vm.rollUsuario == 'adm'">
                    <a ng-click="vm.fmostrarCargarExcel()">
                        <i class="fa fa-database"></i>
                        <span class="nav-label">Datos Excel</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- LOGOUT -->
        <div>
            <ul class="nav metismenu">
                <li>
                    <a ng-click="vm.logout()">
                        <i class="fa fa-reply"></i>
                        <span class="nav-label">Desconectar / Salir</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- ===================== CONTENIDO ===================== -->
    <div id="page-wrapper" class="gray-bg">

        <!-- NAVBAR -->
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="navbar-header pull-right">
                    <a class="btn btn-primary">
                        <h4>
                            <img height="30px" src="img/User3.png">
                            {{vm.mostrarPerfil}}
                        </h4>
                    </a>
                </div>
            </nav>
        </div>

        <!-- TITULO -->
        <div class="row wrapper border-bottom white-bg page-heading" style="background-color: transparent; border: none;">
            <div class="col-lg-10">
                <h2>Sistema Referidos RRVV</h2>
            </div>
        </div>

        <!-- ===================== VISTAS ===================== -->
        <div ng-show="vm.verContactos.contactos" class="wrapper wrapper-content animated fadeInLeft">
            <div ng-include="'templates/referidosCol_24092019.html'"></div>
        </div>

        <div ng-show="vm.verContactos.actividades" class="wrapper wrapper-content animated fadeInRight">
            <div ng-include="'templates/actividadContactos_24092019.html'"></div>
        </div>

        <div ng-show="vm.verProspectos.contactos" class="wrapper wrapper-content animated fadeInLeft">
            <div ng-include="'templates/prospectosCol_24092019.html'"></div>
        </div>

        <div ng-show="vm.verProspectos.actividades" class="wrapper wrapper-content animated fadeInRight">
            <div ng-include="'templates/actividadProspectos_24092019.html'"></div>
        </div>

        <div ng-show="vm.mostrarIngresarReferido" class="wrapper wrapper-content animated fadeInRight">
            <div ng-include="'templates/referidosMantenedor_24092019_2.html'"></div>
        </div>

        <div ng-show="vm.mostrarCargarExcel" class="wrapper wrapper-content animated fadeInRight">
            <div ng-include="'templates/cargarExcel_24092019.html'"></div>
        </div>

        <!-- FOOTER -->
        <div class="footer">
            <div class="pull-right">
                Aplicacion Referidos RRVV - <strong>Rev. 25-05-2023_REFRV-16-56</strong>
            </div>
        </div>
    </div>
</div>

<!-- ===================== SCRIPTS ===================== -->

<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="js/plugins/clockpicker/clockpicker.js"></script>
<script src="js/plugins/fullcalendar/moment.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/plugins/dataTables/datatables.min.js"></script>
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<script src="angular/angular-ui-utils.min.js"></script>
<script src="angular/angular-resource.js"></script>
<script src="angular/angular-route.js"></script>
<script src="angular/angular-cookies.js"></script>
<script src="angular/angular-js-xlsx.js"></script>
<script src="angular/xlsx.core.min.js"></script>

<script src="js/sweetalert.min.js"></script>
<script src="app.js"></script>
<script src="js/plugins/toastr/toastr.min.js"></script>

<script src="js/plugins/steps/jquery.steps.min.js"></script>
<script src="js/plugins/iCheck/icheck.min.js"></script>
<script src="js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>

<script src="js/highcharts/highcharts.js"></script>
<script src="js/highcharts/exporting.js"></script>
<script src="js/plugins/chartJs/Chart.min.js"></script>

<!-- DOMAIN -->
<script src="domain/Sucursales.js"></script>
<script src="domain/Bitacoras.js"></script>
<script src="domain/BitacorasByReferencia.js"></script>
<script src="domain/ReferenciasNoCerradas.js"></script>
<script src="domain/DerivarMasivo.js"></script>
<script src="domain/Referencias.js"></script>
<script src="domain/ReferenciasReagendadas.js"></script>
<script src="domain/Canales.js"></script>
<script src="domain/Ejecutivos.js"></script>
<script src="domain/Referidos.js"></script>
<script src="domain/ReferenciasNoCerradasFull.js"></script>
<script src="domain/RolesUsuariosNombre.js"></script>
<script src="domain/RolesUsuarios.js"></script>
<script src="domain/VerificaReferenciaActiva.js"></script>
<script src="domain/ImportarReferidos.js"></script>
<script src="domain/ImportarSucursalesEjecutivos.js"></script>
<script src="domain/ImportarSucursales.js"></script>
<script src="domain/ImportarRolesUsuarios.js"></script>
<script src="domain/Acciones.js"></script>
<script src="domain/ActualizarReferidosSi.js"></script>
<script src="domain/ActualizarReferidosNo.js"></script>
<script src="domain/ReferenciasReagendadasFull.js"></script>
<script src="domain/ExportarDatatable.js"></script>
<script src="domain/ExportarReferidos.js"></script>
<script src="domain/PanelTotales.js"></script>

<script src="controllers/todoController.js"></script>
<script src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

<!-- TOASTR CONFIG -->
<script>
    $(function () {
        toastr.options = {
            closeButton: true,
            progressBar: true,
            positionClass: "toast-top-right",
            timeOut: "2000"
        };
    });
</script>

</body>
</html>